


.custom-box{ 
    height: 100vh;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

body{
    background-color: rgb(10, 28, 52);
}

.custom-box h1{
    color: rgb(130, 137, 151);
}

.custom-box h2{
    color: white;
}


.form-container{
    display: flex;
    width: 90%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.right1{
    margin-left: 400px; 
}

.error{
    width: 90%;
    background-color: rgb(218,253,252);
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 0 auto;
    text-align: center;
}

.error p{
    margin: 0 auto;
    color: rgb(49, 81, 96);
}



